{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="container container-fluid">
        <div class="row" style="margin-top: 25px; text-align: center">
            <div class="col-md-12 text-center">
                <h4>Admin</h4>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 text-center" style="margin-top: 12px;">
                    <div class="col-md-6 offset-md-3">
                        <input type="text" name="_username" value="{{ user.username }}" class="form-control username" placeholder="Username" style="width: 100%;">
                    </div>

                </div>
                <div class="col-md-12" style="margin-top: 12px;">
                    <div class="col-md-6 offset-md-3">
                        <input type="text" name="_password" value="{{ user.password }}" class="form-control password" placeholder="Password" style="width: 100%;">
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin-top: 12px;">
                    <button class="btn btn-primary btnSubmit"> Update </button>
                </div>
            </div>

        </div>
    </div>
    <script>
      $(document).ready(function(){
        $('.btnSubmit').click(function(){
          $username = $('.username').val();
          $password = $('.password').val();

          $.post( "/update-user", { username: $username, password: $password } ).done(function(data){
            alert('User successfully updated!');
          });
        });
      });
    </script>
{% endblock %}


